<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086818738482-nhqf19eukp1s41orfk4ltadfk39d2fsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086818738482-nhqf19eukp1s41orfk4ltadfk39d2fsb</string>
	<key>API_KEY</key>
	<string>AIzaSyDbBrXZDuPCbE88xQ7hMLBgJj0HBa4e35E</string>
	<key>GCM_SENDER_ID</key>
	<string>1086818738482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nflFranchiseInformation.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nfl-franchise-information</string>
	<key>STORAGE_BUCKET</key>
	<string>nfl-franchise-information.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086818738482:ios:3bfe06ef976d211a85b72b</string>
</dict>
</plist>